@import '../../styles/variables';

.AboutPage {
  
  ul.list-group {
    
    li {
      border-color: #d2d1d1;
    }

    li:nth-child(even) {
      background: darken($gray, 5%);
    }

    li:nth-child(odd) {
      background: #fdfdfd;
    }
  }
}