@import 'variables';
@import 'fonts';

body {
  font-family: 'Montserrat', sans-serif;
}

/**
* Bootstrap Overrides
*/

.jumbotron {
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: 60px;
  background: #18BC9C;

  h1 {
    margin-top: 0;
    color: white;
    text-align: center;
  }
}

.panel {
  @media #{$xs} {
    margin-bottom: 30px;
  }
}

.panel-default {
  border-color: #d2d1d1;
}

.panel-default > .panel-heading {
  background-color: $font-green;
  border-color: lighten($font-green, 5%);
  color: white;
}

.list-group {
  @media #{$xs} {
    margin-bottom: 30px;
  }
}

.well {
  @media #{$xs} {
    margin-bottom: 0px;
  }
}

/* navbar overrides */
.navbar {
  margin-bottom: 0;
  background: #2C3E50;
  padding: 15px 0;
  border: none;
}

.navbar-default .navbar-toggle {
  border: none;

  &:hover, &:focus {
    background-color: transparent;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
  box-shadow: none;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-default .navbar-brand {
  font-size: 22px;

  @media #{$xs} {
    font-size: 18px;
  }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $font-green;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $font-green;
  color: white;
}

@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 30px;
  }
}